@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
  margin: 0;
}

body {
  width: 100%;
  font-family: 'Reddit Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --pink: rgb(243, 194, 193);
  --blue: rgb(175, 238, 237);
}
