.registerPage {
  display: flex;
  position: relative;
  border: 1px solid black;
  width: 30%;
  height: 56vh;
  top: 15vh;
  margin: auto;
  box-shadow: 0px 0px 10px 5px var(--blue);
  border: none;
  border-radius: 10px;
}

.enterRegPage {
  font-weight: 900;
  position: relative;
  left: 23%;
  font-size: 27px;
  top: 5vh;
}

.formForRegPage {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  height: 300px;
  left: -28%;
}

.regInputPage {
  position: relative;
  margin-bottom: 25px;
  top: 20px;
  width: 157%;
  height: 20px;
  border: none;
  border-bottom: 1px solid black;
}

.regInput:focus {
  border-bottom: 1px solid var(--pink);
}

.submitRegPage {
  position: relative;
  top: 5vh;
  height: 35px;
  border: none;
  border-radius: 3px;
  background-color: var(--pink);
  cursor: pointer;
}

.linkMenuPage {
  position: relative;
  top: 8vh;
}
